<!doctype html>
<html>
<head>
    <title>Painel Controle Administrativo</title>
    <meta name="layout" content="layout-administrativo">
</head>

<body>

<div class="row">
</div>
<hr>

</body>
</html>